name: Node.js CI

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - uses:
        with:
          node-version: 14.15
          yarn-version: 1.22.10
      - run: yarn install --frozen-lockfile
      - run: yarn lint --if-present
      - run: yarn test
      - run: yarn build --if-present
        env:
          CI: true
